<div class="nav-menu blue lighten-4 black-text">
    <div class="logo ml-1 mr-1 mb-3">
        APP
    </div>
    <div class="pl-1 pt-1">
        <ul class="">
            <li *ngFor="let r of navRoutes">
                <a routerLink="{{ r.route.path }}" routerLinkActive="active">{{r.name}}</a>
            </li>
        </ul>
    </div>
</div>