<div class="flex-box">
        <fancy-value-scroll-picker [viewCount]="9" [startValue]="8" [endValue]="" (valueChange)="setFromHours($event)"></fancy-value-scroll-picker>
        <fancy-value-scroll-picker [viewCount]="7" [startValue]="8" [endValue]="" (valueChange)="setFromMinutes($event)"></fancy-value-scroll-picker>
        <fancy-value-scroll-picker [viewCount]="5" [startValue]="8" [endValue]="" (valueChange)="setToHours($event)"></fancy-value-scroll-picker>
        <fancy-value-scroll-picker [viewCount]="3" [startValue]="8" [endValue]="" (valueChange)="setToMinutes($event)"></fancy-value-scroll-picker>
        <button (click)="showtime()"></button>
    </div>