.m-auto {
    margin: 0 auto;
}


.mt-1 {
    margin-top: 1rem;
}
.mt-2 {
    margin-top: 2rem;
}
.mt-3 {
    margin-top: 3rem;
}
.mt-4 {
    margin-top: 4rem;
}
.mt-5 {
    margin-top: 5rem;
}
.mt-6 {
    margin-top: 6rem;
}
.mt-7 {
    margin-top: 7rem;
}
.mt-8 {
    margin-top: 8rem;
}
.mt-9 {
    margin-top: 9rem;
}
.mt-10 {
    margin-top: 10rem;
}
.mr-1 {
    margin-right: 1rem;
}
.mr-2 {
    margin-right: 2rem;
}
.mr-3 {
    margin-right: 3rem;
}
.mr-4 {
    margin-right: 4rem;
}
.mr-5 {
    margin-right: 5rem;
}
.mr-6 {
    margin-right: 6rem;
}
.mr-7 {
    margin-right: 7rem;
}
.mr-8 {
    margin-right: 8rem;
}
.mr-9 {
    margin-right: 9rem;
}
.mr-10 {
    margin-right: 10rem;
}
.mb-1 {
    margin-bottom: 1rem;
}
.mb-2 {
    margin-bottom: 2rem;
}
.mb-3 {
    margin-bottom: 3rem;
}
.mb-4 {
    margin-bottom: 4rem;
}
.mb-5 {
    margin-bottom: 5rem;
}
.mb-6 {
    margin-bottom: 6rem;
}
.mb-7 {
    margin-bottom: 7rem;
}
.mb-8 {
    margin-bottom: 8rem;
}
.mb-9 {
    margin-bottom: 9rem;
}
.mb-10 {
    margin-bottom: 10rem;
}
.ml-1 {
    margin-left: 1rem;
}
.ml-2 {
    margin-left: 2rem;
}
.ml-3 {
    margin-left: 3rem;
}
.ml-4 {
    margin-left: 4rem;
}
.ml-5 {
    margin-left: 5rem;
}
.ml-6 {
    margin-left: 6rem;
}
.ml-7 {
    margin-left: 7rem;
}
.ml-8 {
    margin-left: 8rem;
}
.ml-9 {
    margin-left: 9rem;
}
.ml-10 {
    margin-left: 10rem;
}
.my-1 {
    margin: 1rem 0 1rem 0;
}
.my-2 {
    margin: 2rem 0 2rem 0;
}
.my-3 {
    margin: 3rem 0 3rem 0;
}
.my-4 {
    margin: 4rem 0 4rem 0;
}
.my-5 {
    margin: 5rem 0 5rem 0;
}
.my-6 {
    margin: 6rem 0 6rem 0;
}
.my-7 {
    margin: 7rem 0 7rem 0;
}
.my-8 {
    margin: 8rem 0 8rem 0;
}
.my-9 {
    margin: 9rem 0 9rem 0;
}
.my-10 {
    margin: 10rem 0 10rem 0;
}
.mx-1 {
    margin: 0 1rem 0 1rem;
}
.mx-15 {
    margin: 0 1.5rem 0 1.5rem;
}
.mx-2 {
    margin: 0 2rem 0 2rem;
}
.mx-3 {
    margin: 0 3rem 0 3rem;
}
.mx-4 {
    margin: 0 4rem 0 4rem;
}
.mx-5 {
    margin: 0 5rem 0 5rem;
}
.mx-6 {
    margin: 0 6rem 0 6rem;
}
.mx-7 {
    margin: 0 7rem 0 7rem;
}
.mx-8 {
    margin: 0 8rem 0 8rem;
}
.mx-9 {
    margin: 0 9rem 0 9rem;
}
.mx-10 {
    margin: 0 10rem 0 10rem;
}