.pt-1 {
    padding-top: 1rem;
}
.pt-2 {
    padding-top: 2rem;
}
.pt-3 {
    padding-top: 3rem;
}
.pt-4 {
    padding-top: 4rem;
}
.pt-5 {
    padding-top: 5rem;
}
.pt-6 {
    padding-top: 6rem;
}
.pt-7 {
    padding-top: 7rem;
}
.pt-8 {
    padding-top: 8rem;
}
.pt-9 {
    padding-top: 9rem;
}
.pt-10 {
    padding-top: 10rem;
}
.pr-1 {
    padding-right: 1rem;
}
.pr-2 {
    padding-right: 2rem;
}
.pr-3 {
    padding-right: 3rem;
}
.pr-4 {
    padding-right: 4rem;
}
.pr-5 {
    padding-right: 5rem;
}
.pr-6 {
    padding-right: 6rem;
}
.pr-7 {
    padding-right: 7rem;
}
.pr-8 {
    padding-right: 8rem;
}
.pr-9 {
    padding-right: 9rem;
}
.pr-10 {
    padding-right: 10rem;
}
.pb-1 {
    padding-bottom: 1rem;
}
.pb-2 {
    padding-bottom: 2rem;
}
.pb-3 {
    padding-bottom: 3rem;
}
.pb-4 {
    padding-bottom: 4rem;
}
.pb-5 {
    padding-bottom: 5rem;
}
.pb-6 {
    padding-bottom: 6rem;
}
.pb-7 {
    padding-bottom: 7rem;
}
.pb-8 {
    padding-bottom: 8rem;
}
.pb-9 {
    padding-bottom: 9rem;
}
.pb-10 {
    padding-bottom: 10rem;
}
.pl-1 {
    padding-left: 1rem;
}
.pl-2 {
    padding-left: 2rem;
}
.pl-3 {
    padding-left: 3rem;
}
.pl-4 {
    padding-left: 4rem;
}
.pl-5 {
    padding-left: 5rem;
}
.pl-6 {
    padding-left: 6rem;
}
.pl-7 {
    padding-left: 7rem;
}
.pl-8 {
    padding-left: 8rem;
}
.pl-9 {
    padding-left: 9rem;
}
.pl-10 {
    padding-left: 10rem;
}

.py-1 {
    padding: 1rem 0 1rem 0;
}
.py-2 {
    padding: 2rem 0 2rem 0;
}
.py-3 {
    padding: 3rem 0 3rem 0;
}
.py-4 {
    padding: 4rem 0 4rem 0;
}
.py-5 {
    padding: 5rem 0 5rem 0;
}
.py-6 {
    padding: 6rem 0 6rem 0;
}
.py-7 {
    padding: 7rem 0 7rem 0;
}
.py-8 {
    padding: 8rem 0 8rem 0;
}
.py-9 {
    padding: 9rem 0 9rem 0;
}
.py-10 {
    padding: 10rem 0 10rem 0;
}
.px-1 {
    padding: 0 1rem 0 1rem;
}
.px-2 {
    padding: 0 2rem 0 2rem;
}
.px-3 {
    padding: 0 3rem 0 3rem;
}
.px-4 {
    padding: 0 4rem 0 4rem;
}
.px-5 {
    padding: 0 5rem 0 5rem;
}
.px-6 {
    padding: 0 6rem 0 6rem;
}
.px-7 {
    padding: 0 7rem 0 7rem;
}
.px-8 {
    padding: 0 8rem 0 8rem;
}
.px-9 {
    padding: 0 9rem 0 9rem;
}
.px-10 {
    padding: 0 10rem 0 10rem;
}